.signUpTitle {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 30px;
}

.container .formContainer a {
  display: flex;
  justify-content: start;
  margin: 20px;
}

.signUpTitle span {
  margin-left: 10px;
  color: #9f0505;
}

.forgotPassword {
  display: inline-flex;
  justify-content: end;
  font-size: 11px;
  margin: 5px 0 5px 0;
}

.forgotPassword a {
  margin: 0 !important;
  text-decoration: none;
  color: black;
}

.inputHeader {
  font-size: 10px;
}

.container .formContainer input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Button background color */
  font-size: 17px; /* Font size */
  font-weight: bold;
  text-align: center; /* Center text */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 30px; /* Optional: Rounded corners */
  width: 150px;
  height: 35px;
  margin: 10px 0 10px 0;
}

.signInButton {
  color: #e4a250; /* Text color */
  border: 3px solid #e4a250; /* Optional: Add a border for visibility */
}

.signUpButton {
  color: #9f0505; /* Text color */
  border: 3px solid #9f0505; /* Optional: Add a border for visibility */
}

.buttonContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: Center vertically if the container has a height */
}

.line {
  border: none; /* Remove default border */
  height: 2px; /* Height of the line */
  background-color: black; /* Color of the line */
  flex: 1; /* Allow the line to grow and shrink */
  margin: 0 10px; /* Space on the sides of the line */
}

.alternateLogin {
  align-self: center;
  text-align: center;
  margin: 15px 0 0 0;
}

.alternateLogin p {
  display: inline;
  vertical-align: middle;
}

.partialBlackLine {
  margin: 0 15px 0 15px;
  background-color: black;
  height: 2px;
  width: 65px;
  vertical-align: middle;
  display: inline-block;
}

.googleBtn {
  margin-top: 6%;
  height: 50px;
  width: 50px;
  margin-inline: auto;
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}
