.contactWrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.BGRectangle{
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 30vh;
    background-color: #FFF6EC;
}

.contact{
    width: 70vw;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    padding: 2%;
}

.socialsWrap{
    max-width: 448px;
    width: 30vw;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
}

.socialsWrap a{
    width: 16%;
    aspect-ratio: 1/1;
}

.socialsWrap a img{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
}

.contact h1 {
    font-size: 7vh;
    font-weight: bolder;
    margin: 0
}

.contact div h5{
    font-size: 4vh;
    font-weight: 300;
    letter-spacing: 0.6vw;
    margin: 0
}

.contact div h6{
    font-size: 3vh;
    font-weight: 200;
    letter-spacing: 0.6vw;
    margin: 0
}