.optionSelector{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.optionSelector button{
    background: none;
    border: none;
    font-size: larger;
    margin-right: 20px;
}