.MainColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.84% 0;
}

.MainColumn img {
  width: 100%;
  height: auto; /* Change to auto for responsiveness */
  max-height: 400px; /* Optional max height */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.MainColumnTextWrap {
  flex: 1;
  margin: 5% 0 0 0;
  text-align: center; /* Center text for smaller screens */
}

.MainColumnTextWrap h5 {
  color: #9f0505;
  font-weight: 600;
}

.MainColumnTextWrap h6 {
  width: 100%;
  font-size: 1.3em;
  font-family: "Times New Roman", Times, serif;
  color: #929292;
  line-height: 1.4;
}

.MainColumnTextWrap h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #645236;
}

/* Skeleton Loading Screen Styles */
.Skeleton {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SkeletonImage {
  padding: 1%;
  width: 100%;
  height: 70%;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.SkeletonTextWrap {
  flex: 1;
  width: 100%;
  height: 30%;
  margin-top: 2%;
}

.SkeletonDate,
.SkeletonTitle,
.SkeletonSummary {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.SkeletonDate {
  width: 30%;
  height: 20px;
  margin-bottom: 10px;
}

.SkeletonTitle {
  width: 60%;
  height: 30px;
  margin-bottom: 15px;
}

.SkeletonSummary {
  width: 100%;
  height: 70%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .MainColumn {
    width: 100%;
    margin: 10px 0;
  }

  .MainColumnTextWrap h1 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .MainColumnTextWrap h6 {
    font-size: 1.1em; /* Adjust font size for readability on smaller screens */
  }

  .SkeletonImage {
    height: 50%; /* Adjust skeleton image height for smaller screens */
  }
}
