.MainColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.MainColumn img {
  max-height: 70vh;
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: center; /* This centers the image */
}

.MainColumnTextWrap {
  text-align: left;
  padding-top: 10px;
}

.MainColumnTextWrap h5 {
  color: #9f0505;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin: 20px 20px;
}

.MainColumnTextWrap h2 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #333;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 15px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
  cursor: pointer; /* Change cursor to pointer to indicate interactivity */
  transform-origin: center; /* Ensure the text shrinks from the middle */
  margin: 20px 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limits text to 5 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Ensure text wraps */
  word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}

.MainColumnTextWrap h1:hover {
  color: #9f0505; /* Change color on hover */
  transform: scale(0.95); /* Slightly shrink the text from the center */
  text-decoration: underline; /* Add underline on hover */
}

.MainColumnTextWrap h6 {
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  margin: 20px 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 14; /* Limits text to 5 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Ensure text wraps */
  word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}

/* Skeleton Loading Screen Styles */
.Skeleton {
  width: 100%;
}

.SkeletonImage {
  width: 100%;
  height: 65vh;
  background-color: #e0e0e0;
}

.SkeletonTextWrap {
  padding-top: 20px;
}

.SkeletonDate,
.SkeletonTitle,
.SkeletonSummary {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 15px;
}

.SkeletonDate {
  width: 30%;
  height: 20px;
}

.SkeletonTitle {
  width: 70%;
  height: 40px;
}

.SkeletonSummary {
  width: 100%;
  height: 100px;
}





@media (max-width: 1200px) {
  .MainColumnTextWrap h2 {
    font-size: 2.5rem;
    -webkit-line-clamp: 4; /* Limits text to 5 lines */
    width: 90%;
  }

  .MainColumn {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    text-decoration: none;
    color: inherit;
    overflow: hidden; /* Ensures no overflow outside the container */
    max-height: 900px; /* Ensures the MainColumn never exceeds the height of its container */
  }
  
  .MainColumn img {
    width: 100%;
    object-fit: fill; /* Ensures the image covers the container without distortion */
    background-color: #f0f0f0; /* Light grey background for missing images */
    overflow: hidden; /* Ensures no overflow outside the image container */
  }
  

  .MainColumnTextWrap h6 {
    font-size: 20px;
    -webkit-line-clamp: 7; /* Limits text to 5 lines */
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .MainColumn {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    text-decoration: none;
    color: inherit;
    overflow: hidden; /* Ensures no overflow outside the container */
    max-height: 1000px; /* Ensures the MainColumn never exceeds the height of its container */
  }
  
  .MainColumn img {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    background-color: #f0f0f0; /* Light grey background for missing images */
    overflow: hidden; /* Ensures no overflow outside the image container */
  }
  .MainColumnTextWrap h2 {
    font-size: 2.2rem;
    width: 90%;
  }

  .MainColumnTextWrap h6 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .MainColumn img,
  .SkeletonImage {
    height: 250px;
    object-fit: fill;
    object-position: center; /* This centers the image */
  }

  .MainColumnTextWrap h2 {
    font-size: 1.5rem;
    -webkit-line-clamp: 5; /* Limits text to 5 lines */
  }

  .MainColumnTextWrap h6 {
    font-size: 1rem;
  }
}