.TrendingTitleDecoration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 6%;
}

.middleLine {
  width: 50%; /* Start with 50% width of the parent container */
  min-width: 100px; 
  height: 3px;
  position: relative;
}

.diagonalSquare {
  height: 3px;
  width: 3px;
  transform: rotate(45deg);
}

.TrendingTitleDecoration h1 {
  margin: 0;
  font-size: 1.8em; 
  color: #9f0505; 
  text-align: center;
}

.TrendingTextWrap h6{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limits text to 5 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Ensure text wraps */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words */
}

@media (max-width: 768px) {
  .middleLine {
    width: 60%; /* Increase the width slightly for smaller screens */
    min-width: 80px; /* Ensure the minimum width adjusts as needed */
  }

  .TrendingTitleDecoration h1 {
    font-size: 1.5em; /* Reduce font size for smaller screens */
  }
}
