.TrendingTitleDecoration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 6%;
}

.middleLine {
  width: 50%; /* Start with 50% width of the parent container */
  min-width: 100px; 
  height: 3px;
  background-color: #9f0505;
  position: relative;
}

.diagonalSquare {
  height: 3px;
  width: 3px;
  outline: 3px solid #9f0505;
  transform: rotate(45deg);
}

.TrendingTitleDecoration h1 {
  margin: 0;
  font-size: 1.8em; 
  color: #9f0505; 
  text-align: center;
}

@media (max-width: 768px) {
  .middleLine {
    width: 60%; /* Increase the width slightly for smaller screens */
    min-width: 80px; /* Ensure the minimum width adjusts as needed */
  }

  .TrendingTitleDecoration h1 {
    font-size: 1.5em; /* Reduce font size for smaller screens */
  }
}
