.HeaderNav {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #E4D3BE;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.HeaderNav ul {
    list-style: none;
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: nowrap; /* Prevent wrapping */
}

.HeaderNav ul span {
    display: inline-block;
    width: 2px;
    height: 30px; 
    background-color: #E4D3BE;
}

.HeaderNav ul li {
    flex-shrink: 0; /* Prevent flex items from shrinking */
    margin:none;
}

.HeaderNav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s;
}

.HeaderNav ul li a:hover {
    color: #d35400;
}