*{
    font-family: 'Montserrat';
}

.TopHeaderDiv{
    height: 45px;
    position:relative;
    border-bottom: 2px solid #E4D3BE;
    padding: 0;
    margin:0;
}

.TopHeaderDiv h6{
    position: absolute;
    bottom:0;
    color:#542F04;
    margin:0;
}

.TopHeaderText1{
    left:70px;
}

.TopHeaderText2{
    right:70px;
}

@media (max-width: 940px){
    .TopHeaderDiv{
        display: none;
    }
}