.SubHeader2 {
    display: flex;
    border-bottom: 2px solid #E4D3BE;
    height:9vh;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5vw
}

.SubHeader2 a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.logo img{
    margin-right: 0px;
    width:4vh;
}

.logo h1 {
    font-size: 5vh;
    font-weight:bolder;
    margin: 0;
    display: inline-flex;
    align-items: center;
    color: #333; /* Adjust color if necessary */
    text-decoration: none;
}

.logo div {
    color: #d35400; 
    font-size: 2vh;
    margin-left: 5%;
}

.authSearch {
    display: flex;
    align-items: center;
}

.authSearch a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
}

.authSearch a img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.SubHeader2 .separator {
    display: inline-block;
    width: 2px;
    height: 30px; 
    background-color: #E4D3BE;
    margin:0 20px;
}

.searchBTN {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 600px){
   .logo img{
    display: none;
   }

   .logo .separator{
    display: none;
   }
}