.HeaderNav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #E4D3BE;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.HeaderNav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    flex-wrap: nowrap; /* Prevent wrapping */
    width: fit-content;
}

.HeaderNav ul span {
    display: inline-block;
    width: 2px;
    height: 30px; 
    background-color: #E4D3BE;
    margin: 0 25px;
}

.HeaderNav ul li {
    margin: 0 45px;
    flex-shrink: 0; /* Prevent flex items from shrinking */
}

.HeaderNav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 5px 0;
    transition: color 0.3s;
}

.HeaderNav ul li a:hover {
    color: #d35400;
}