.top-bar {
    position:relative;
    border-bottom: 2px solid #E4D3BE;
    height:80px;
}

.logo{
    display: flex;
    align-items: center;
    position: absolute;
    left:70px;
    top: 50%;
    transform: translate(0, -50%);
}


.logo img{
    margin-right: 0px;
    height:30px;
    width:30px
}

.logo h1 {
    font-size: 40px;
    font-weight:bolder;
    margin: 0;
    display: inline-flex;
    align-items: center;
    color: #333; /* Adjust color if necessary */
}

.logo div {
    color: #d35400; 
    font-size: 15px;
    margin-left: 5%;
}

.auth-search {
    display: flex;
    align-items: center;
    position: absolute;
    right:70px;
    top: 50%;
    transform: translate(0, -50%);
}

.auth-search a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
}

.top-bar .separator {
    display: inline-block;
    width: 2px;
    height: 30px; 
    background-color: #E4D3BE;
    margin:0 20px;
}

.search-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
